  <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Ricardo Furtado</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="https://media.licdn.com/dms/image/C5603AQG9ySQymvjLHA/profile-displayphoto-shrink_200_200/0?e=1554940800&v=beta&t=ZdWdV84BpvCdM7R2nkkwNyf73eZ6-UYFgSLgBHWL530" alt="profile-picture">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Certifications</a>
        </li> --}}
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Ricardo
          <span class="text-info">Furtado</span>
        </h1>
        <div class="subheading mb-5">1211 / 17 Chisholm Street · Wolli Creek, NSW 2205 · 0414 - 515 - 970 ·
          <a href="mailto:name@email.com">ricardofurtado26@hotmail.com</a>
        </div>
        <p class="lead mb-5">I am a Front End Developer working with modern technologies and tools to delivery the product as soon as possible and following the customer criteria.I also have knowlodge in the Back End such as Node.Js / Express.js.
        </p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/ricardo-furtado-48a9996b/" target="__blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/rickfurt" target="__blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://twitter.com/Ricardo67853829" target="__blank">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">
    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Web Developer</h3>
            <div class="subheading mb-3">FreeLancer</div>
            <p>Developing Websites/Application using modern tools and frameworks such as:.</p>
              <ul>
                <li>Creating websites using HTML, CSS, Sass, JavaScript/jQuery, ReactJs</li>
                <li>Knowledge using NodeJs/Express on the back-end</li>
                <li>Knowledge using Node Package Management.</li>
                <li>Knowledge with  Express Handlebars Server side render.</li>
                <li>Deployment knowledge using cli /Terminal</li>
                <li>Knowledge with SendGrid/MailGun email delivery service.</li>
              </ul>   
        </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">November 2017 - Present</span>
          </div>
        </div>
      </div>
    </section>
    <hr class="m-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-2">
          <div class="resume-content">
            <h3 class="mb-0">Wells International College</h3>
            <div class="subheading">Diploma , Software Development</div>
            <div>Computer Science - Software Development Track</div>
            <p>020199 - Computer Science, n.e.c.</p>
            <p>Advanced Programming, Evaluate and Communicate Business Requirements, Rapid Application Development, Develop and Deploy Object Oriented Applications, Contribute to Organisational Privacy and Contingency Plans, Software Testing.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">April 2018 - April 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-2">
          <div class="resume-content">
            <h3 class="mb-0">Wells International College</h3>
            <div class="subheading mb-3">Certificate IV, Information technology</div>
            <div>Computer Science - Software Development Track</div>
            <p>020399 - Information Systems, n.e.c.</p>
            <p>Introductory Programming, Developing and Delivering Technical Documentation, Software Development Methodologies, Automate Processes, Basic Web Design & Manage Simple Projects.
          </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">April 2017 - April 2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-2">
          <div class="resume-content">
            <h3 class="mb-0">FreeCodeCamp </h3>
            <div class="subheading mb-3">JavaScript algorithms and Data structures </div>
            Relevant Coursework: Basic JavaScript, ES6, Regular Expressions, Debugging, Basic Data Structures, Basic Algorithm Scripting, Object Oriented Programming, Functional Programming, Intermediate Algorithm Scripting. 
          </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2018 - 2018 - 300 Hours</span>
          </div>
        </div>


      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-js-square"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-react"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-node-js"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-sass"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-npm"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-github"></i>
          </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Mobile-First, Responsive Design</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Browser Testing &amp; Debugging</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">
{{!-- 
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <h2 class="text-danger">Under Construction...</h2>
            <i class="fa-li fas fa-award text-warning"></i>
            Under Construction...</li> --}}
          {{!-- <li>
            <i class="fa-li fa fa-award text-warning"></i>
            Mobile Web Specialist - Google Certification</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            2<sup>nd</sup>
            Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            1<sup>st</sup>
            Place - James Buchanan High School - Hackathon 2006</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            3<sup>rd</sup>
            Place - James Buchanan High School - Hackathon 2005</li>
        </ul>
      </div>
</section> --}}

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="projects">
      <div class="w-100">
        <h2 class="mb-5">Projects</h2>
        <div class="row">
            
            <div class="card m-2" style="width: 15rem;">
              <img src="images/ajepel-logo.jpg" class="card-img-top" alt="logo-Ajepel"><hr>
              <div class="card-body">
                <h5 class="card-title">Ajepel Embalagens</h5>
                <p class="card-text">This a package company based in Tijucas-SC - Brazil</p>
                <a href="http://www.ajepel.com.br" target="__blank" class="btn btn-primary">Check it Out</a>
              </div>
            </div>

            <div class="card m-2" style="width: 15rem;">
              <img src="images/react-drum-machine.jpg" class="card-img-top" alt="React-drum-machine"><hr>
              <div class="card-body">
                <h5 class="card-title">React Drum Machine</h5>
                <p class="card-text">Creating a drum Machine using ReactJs</p>
                <a href="https://react-drum-machine-fcc.herokuapp.com/" target="__blank" class="btn btn-primary">Check it Out</a>
              </div>
            </div>

            <div class="card m-2" style="width: 15rem;">
              <img src="images/markdown.jpg" class="card-img-top" alt="markdown-image"><hr>
              <div class="card-body">
                <h5 class="card-title">React - Markdown</h5>
                <p class="card-text">Typing GitHub Flavoured markdown on the editor converts to Markup</p>
                <a href="https://codepen.io/rickfurt/full/NJqPWw" target="__blank" class="btn btn-primary">Check it Out</a>
              </div>
            </div>

            {{!-- <div class="card m-2" style="width: 15rem;">
              <img src="" class="card-img-top" alt=""><hr>
              <div class="card-body">
                <h5 class="card-title">Ajepel Embalagens</h5>
                <p class="card-text">This a package company based in Tijucas-SC - Brazil</p>
                <a href="http://www.ajepel.com.br" target="__blank" class="btn btn-primary">Check it Out</a>
              </div>
            </div> --}}

      </div>
      </div>
    </section>
  </div>